@page
@model ToDo.Pages.Items.IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Styles {
    <link href="@Url.Content("~/css/postit.css")" rel="stylesheet" type="text/css" />
}

<div class="text-center">
    <h1 class="display-4 m-3 p-3">Welcome to my TO DO list</h1>
    </div>

    <div class="row d-flex justify-content-center">
    @foreach (var item in Model.Item) {
        <div class="card text-center m-3 p-3">
            <h3 class="card-title">
                @Html.DisplayFor(modelItem => item.Name)
            </h3>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.Message)
            </p>
            <p class="card-text">
                @Html.DisplayFor(modelItem => item.Due)
            </p>
  
        </div>
    }
    </div>
<p class="text-center mt-2">Add / edit or remove items <a href="/items">here</a>.</p>